#article{
  min-width: 350px;
  background: rgba(255, 255, 255, 0.6);
  padding: 25px;
  width: 800px;
  border-radius: 50px;
  margin-bottom: 25px;
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#article:hover{
  cursor: pointer;
  transform: scale(1.02,1.02);
}

#article p{
  width: 80%;
}

p:hover{
  transform: scale(1.02,1.02);
}

h2:hover{
  transform: scale(1.02,1.02);
}

#article a:hover{
  transform: scale(1.2,1.2);
}

#author{
  font-weight: bold;
  text-decoration: underline;
  color: #8B84A3;
}

