<div id="content">
  <app-side-menu></app-side-menu>
  <div id="right-content">
    <div class="user">
      <h1>FirstName</h1>
      <h1>LasttName</h1>
    </div>
    <div class="user">
      <h1>FirstName</h1>
      <h1>LasttName</h1>
    </div>
    <div class="user">
      <h1>FirstName</h1>
      <h1>LasttName</h1>
    </div>
    <div class="user">
      <h1>FirstName</h1>
      <h1>LasttName</h1>
    </div>
    <div class="user">
      <h1>FirstName</h1>
      <h1>LasttName</h1>
    </div>
    <div class="user">
      <h1>FirstName</h1>
      <h1>LasttName</h1>
    </div>
    <div class="user">
      <h1>FirstName</h1>
      <h1>LasttName</h1>
    </div>
    <div class="user">
      <h1>FirstName</h1>
      <h1>LasttName</h1>
    </div>
  </div>

</div>

