#content{
  display:flex;
  height: 100%;
}

#right-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:75%;
  position: absolute;
  right: 0;
}
h1{
  margin:0;
  padding:0;
}
#addArticle{
  width: 800px;
  border-radius: 50px;
  padding: 30px 30px;
  margin-top: 30px;
  border: 3px solid #ffffff;
  display: flex;
  flex-direction: column;
}

#addArticle input{
  height: 30px;
  border-radius: 50px;
  padding: 0 5px;
  background: #F6E8CE;
  border:none;
  width: 600px;
  outline-color: #8B84A3;
}

#addArticle input[name=contenu]{
  height: 60px;
}

#addArticle button{
  height: 45px;
  width: 300px;
  color: white;
  background-color: #8B84A3;
  border:none;
  border-radius: 50px;
  margin-top: 30px;
  font-weight: bold;
}

#addArticle button:hover{
  transform: scale(1.1,1.1);
  cursor:pointer;
}
