<div id="content">
    <app-side-menu></app-side-menu>
  <div id="right-content">
    <app-article-preview></app-article-preview>
    <app-article-preview></app-article-preview>
    <app-article-preview></app-article-preview>
    <app-article-preview></app-article-preview>
    <app-article-preview></app-article-preview>
    <app-article-preview></app-article-preview>
    <app-article-preview></app-article-preview>
    <app-article-preview></app-article-preview>
    <app-article-preview></app-article-preview>
    <app-article-preview></app-article-preview>
    <app-article-preview></app-article-preview>
    <app-article-preview></app-article-preview>
    <app-article-preview></app-article-preview>
    <app-article-preview></app-article-preview>
    <app-article-preview></app-article-preview>
    <app-article-preview></app-article-preview>
    <app-article-preview></app-article-preview>
  </div>

</div>

