<div>
  <h1>Créer un compte</h1>
  <form id="userForm" #userForm="ngForm" (ngSubmit)="addUser(userForm)">
    <input type="text" name="pseudo" id="pseudo" placeholder="Pseudo" ngModel>
    <input type="text" name="email" id="email" placeholder="Email" ngModel>
    <input type="text" name="password" id="password" placeholder="Mot de passe" ngModel>
    <input type="text" name="avatar" style="display:none" placeholder="Avatar" ngModel>
    <button>S'enregistrer</button>
  </form>
  <p>Vous avez déjà un compte ? <a routerLink="/login">Se connecter</a></p>
</div>
